.contenedor{
    grid-area: encab;
    height: 75px;
    width: 1024px;
    display:grid;
    grid-gap: 20px;
    grid-template-areas: 
    "encab encab encab encab"
    "naveg naveg naveg naveg"
    "barra_lat arti arti arti"
    "publi pie pie pie"
    ;
}
.barraLateral{
    grid-area: barra_lat;
    height:200px
}
.navegacion{
    grid-area: naveg;
}
.articulo{
    grid-area: arti;
}
.publicidad{
    grid-area: publi;
}
