
#divEnlaces {
    background-color: lightgrey;
padding-top: 80px;
padding-bottom: 70px;
}
#divNoticias {
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}
#divOfertaEducativa {
    background-color: lightgrey;
    padding-top: 70px;
    padding-bottom: 70px;
}